body{
  font-family: "Gill Sans Extrabold", sans-serif;
  margin: auto;
  background: #ebf3f2;;
}

h1{
color: rgb(103, 128, 196);
 text-align: center;
 line-height: 1;
 font-size: 50px;

}

 h2{
  color: rgb(103, 128, 196);
  font-size: 30px;
  text-align: center;

}
figure.cute {
  text-align: left;
}

ul{
  text-align: left; 
  font-size: 30px;
}

figcaption{
  font-style: oblique;
}


div.content{
  font-size: 1.5em;
  width: 50%;
  margin: auto;
}

main.intro{
 display: flex;
  flex-wrap: wrap;
}


footer{
	display: block;
	font-variant: small-caps;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a:link{
  color: rgb(114 143 156);
  text-decoration: none;
}

a:visited{
  color: rgb(105 78 145);
}

a:hover{
  color: rgb(114 143 156);
  text-decoration: underline;
}

a:active{
  color: rgb(163 49 156);
}
