body{
  margin: 50PX;
  font-family: "Gill Sans Extrabold", sans-serif;
  text-align: center;
  background-color: #ebf3f2;
  font-size: 30px;
  margin: 0 100px;
}

h1{
  color: rgb(103, 128, 196);
 text-align: center;
 line-height: 1;
 font-size: 50px;

}

 h2{
  color: rgb(103, 128, 196);
  font-size: 30px;
  text-align: center;

}

img {
  
  width:300px;
   height:400px;
  
  }
main p {
  text-align: left;
}

a {
	text-decoration: none;
	text-align: left;
}

a:link{
  color: rgb(114 143 156);
 
}

a:visited{
  color: rgb(105 78 145);
}

a:hover{
  color: rgb(114 143 156);
  text-decoration: underline;
}

a:active{
  color: rgb(163 49 156);
}
ul{
  text-align: left; 
  
}

figcaption{
  font-style: oblique;
  font-size: 20px;	
}


li {
	margin: 10px 0;
}

footer img{
  height: 31px;
  width: 88px;
}
footer a:visited {
	color: rgb(105 78 145);
}
footer a:hover {

  color: rgb(114 143 156);
}
footer {
  padding-top: 25px;
  font-size: 20px;
  color: rgb(103, 128, 196);
  text-align: center;
  line-height: 1;
}

