body
{
  margin: 30px;
  font-family: "Gill Sans Extrabold", sans-serif;	
  background-color: #7f93d8;
  color: white;
  text-align: left;
  font-size:30px;
 
  
}

header{
	color: #e27c1c;
}

h1 ,h2,h3 {
      text-align: center;
	font-family: "Gill Sans Extrabold", sans-serif;
	font-size: 40px;
    color: rgb(247, 203, 203);
}

h3, ul {
	text-align: center;
}

a {
	text-decoration: none;
	text-align: left;
}

a:link {
	color: rgb(247, 203, 203);
}

/* Main */
main p {
  text-align: left;
}

main a:visited {
	color: #48ff37;
}
main a:hover {
	background-color: #7a7a7a;
	color: #2f2cdb;
}
main a:focus {
	outline: thin dotted;
}
main a:hover, main a:active {
	outline: 0;
}
li {
	margin: 10px 0;
}

/* Footer */
footer img{
  height: 31px;
  width: 88px;
}
footer a:visited {
	color: #48ff37;
}
footer a:hover {
    background-color: #7a7a7a;
	color: #2f2cdb;
}
footer {
  padding-top: 5px;
	width: 100%;
	height: 30px;
  font-size: 20px;
  color: rgb(174, 236, 59);
  font-family: 'Montserrat', sans-serif;
  margin-top: -10px;
  letter-spacing: 2px;
  text-align: center;
}

footer a {
	color: rgb(174, 236, 59);
}




