   <main>
    	<h2>Table of Contents</h2>
		<ul>
			<li><a href="web115_toc.html">Home</a> </li>
			
			<li><a href="web115_introduction.html">Introduction</a> </li>
			
			<li><a href="web115_contract.html">Contract</a></li>
			
			<li><a href="web115_brand.html">Brand</a></li>
			
			<li><a href="web115_console_play.html">Console Play</a></li>
			
			<li><a href="one_page_site/index.html">One Page Site</a></li>
			
			<li><a href="https://www.freecodecamp.org/danfenglu">Free Code Camp</a></li>
	   		
			<li>Fizz Buzz
				<ul>
				<li><a href="fizzbuzz/fizzbuzz0.html">Fizz Buzz 0 </a></li>
				<li><a href="fizzbuzz/fizzbuzz1.html">Fizz Buzz 1</a></li>
				<li><a href="fizzbuzz/fizzbuzz2.html">Fizz Buzz 2</a></li>
				<li><a href="fizzbuzz/fizzbuzz2.html">Fizz Buzz 3</a></li>
				<li><a href="fizzbuzz/fizzbuzz2.html">Fizz Buzz 4</a></li>
			
			
				</ul>
			</li>
		</ul>

	</main>	
