<footer>  
		<br/>
		<nav>
			<a href="https://github.com/danfenglu">Github</a> &#x2736;
			<a href="https://github.com/danfenglu/danfenglu.github.io">Github Pages</a> &#x2736;
			<a href="https://github.com/danfenglu/danfenglu.github.io/tree/main/web115">Github WEB115</a> &#x2736;
			<a href="https://www.codecademy.com/profiles/Danfeng88">Codecademy</a> &#x2736;
			<a href="https://jsfiddle.net/user/danfeng88/">JSFiddle</a> &#x2736;
			<a href="https://www.khanacademy.org/profile/kaid_973732650511053880701095/">Khanacademy</a> &#x2736;
			<a href="https://www.freecodecamp.org/danfenglu">freecodecamp</a> &#x2736;
			<a href="https://www.linkedin.com/learning/?setupTimeGoal=false&showCongrats=false&u=76141674">Linkedin Learning</a> 
		</nav>
		<br />
		<p>Page Built by Sunshine Webspace Inc.</p>
		

     	<a href="https://validator.w3.org/check?uri=" id="validation_link_html"><img src="images/html_validate_button.png" alt="Validate HTML!"</a>
	
	<a href="https://jigsaw.w3.org/css-validator/check/referer?uri=" id="validation_link_css"><img src="images/css_validate_button.gif" alt="Validate CSS!"</a>


	<script>
		document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
	</script>
	</footer>
