<header>
    <h1>Dan's Language Learning Clubhouse</h1>
    <h2>Learn a new language and get a new soul<h2>
  <p id="homelink">
           <a href="index.html">home</a>&#x2736;
           <a href="web115_contract.html">Contract</a>&#x2736;
           <a href="web115_brand.html">Brand</a>&#x2736;
           <a href="web115_introduction.html">Introduction </a>&#x2736;
	 <a href="introForm.html">Introduction Form</a>&#x2736;
	  <a href="one_page_site/index.html">One Page Site</a>&#x2736;
	   <a href="fizzbuzz0.html">Fizz Buzz 0 </a>&#x2736;
	 <a href="fizzbuzz1.html">Fizz Buzz 1</a>&#x2736;
	   <a href="fizzbuzz2.html">Fizz Buzz 2</a>&#x2736;
	   <a href="fizzbuzz3.html">Fizz Buzz 3 </a>&#x2736;
	   <a href="fizzbuzz4.html">Fizz Buzz 4</a>
	  
        </p>
		
</header>
