body
{
  margin: 50PX;
  font-family: "Gill Sans Extrabold", sans-serif;
  text-align: left;
  background-color: #e9d0e3;
  font-size:18px;
  margin: 0 200px;
  color: rgb(37, 26, 30);
}

h1
{
color: rgb(134, 17, 17);
 text-align: center;
 line-height: 1;
 font-size: 30px;
 font-style: Dancing Script;

}

h2
{
  text-align: center;
  line-height: 1;
  font-size: 20px;

}

h3,nav
{
  font-size: 20px;
}

h4
{
font-size: 15px;
font-style: italic;
text-align: center;	
color: rgb(134, 17, 17);
	
}

p#homelink{
 font-size: 18px;
  text-align: center;
}
img 
{
  
  width:300px;
   height:400px;
  
  
}

.palette
{width:400px;
height:100px;



}

a 
{
	text-decoration: none;
	text-align: left;
}

a:link
{
  color: rgb(114 143 156);
 
}

a:visited
{
  color: rgb(105 78 145);
}

a:hover
{
  color: rgb(114 143 156);
  text-decoration: underline;
}

a:active
{
  color: rgb(39, 36, 37);
}
ul
{
  text-align: left; 
  
}

figcaption
{
  font-style: oblique;
  font-size: 15px;	
}
figure
{
  text-align: center;
	
}

li
{
	margin: 10px 0;
}


footer a:visited 
{
	color: rgb(105 78 145);
}
footer a:hover 
{

  color: rgb(114 143 156);
}

footer 
{
  padding-top: 25px;
  font-size: 20px;
  color:rgb(103, 128, 196);
  text-align: center;
  line-height: 1;
}

