body
{
  margin: 30PX;
  font-family: "Gill Sans Extrabold", sans-serif;
  text-align: left;
  background-color: #e9d0e3;
  font-size:18px; 
  color: rgb(37, 26, 30);
}

h1
{
color: rgb(134, 17, 17);
 text-align: center;
 line-height: 1;
 font-size: 35px;
 font-family: Dancing Script;
}

h2
{
  text-align: center;
  line-height: 1;
  font-size: 20px;
}

h3
{
  font-size: 20px;
}

h4
{
font-size: 15px;
font-style: italic;
text-align: center;	
color: rgb(134, 17, 17);
}

p#homelink
{
font-size:25px;
text-align: center;

}
img 
{
width:300px;
height:400px;
}


.palette
{width:400px;
height:100px;
}

a 
{
	text-decoration: none;
  color: rgb(37, 26, 30);
}

ul
{
  text-align: left; 
  margin-left: 30ex;
  padding-top: 8ex;
  font-size:25px;
}

figcaption
{
  font-style: oblique;
  font-size: 15px;	
}
figure
{
  text-align: center;
}

li
{
	margin: 15px 0;
}


footer 
{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: rgb(134, 17, 17);
  text-align: center;
  line-height: 1;
}



  
