	<footer>  
		<br/>
		<nav>
			<a href="https://github.com/danfenglu">Github</a> &#x2736;
			<a href="https://github.com/danfenglu/danfenglu.github.io">Github Pages</a> &#x2736;
			<a href="https://github.com/danfenglu/danfenglu.github.io/tree/main/web210">Github WEB210</a> &#x2736;
			<a href="https://www.codecademy.com/profiles/Danfeng88">Codecademy</a> &#x2736;
			<a href="https://jsfiddle.net/user/danfeng88/">JSFiddle</a> &#x2736;
			<a href="https://www.khanacademy.org/profile/kaid_973732650511053880701095/">Khanacademy</a> &#x2736;
			<a href="https://www.linkedin.com/learning/?setupTimeGoal=false&showCongrats=false&u=76141674">Linkedin Learning</a> 
		</nav>
		<br />
		<p>page built by Sunshine Webspace Inc.</p>
		<P>
	
			<a href="https://validator.w3.org/nu/?showsource=yes&showoutline=yes&doc=https%3A%2F%2Fdanfenglu.github.io%2Fcontract_web210.html"><img src="images/html_validate_button.png" alt=" HTML5 validation button"></a>|
			<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fdanfenglu.github.io%2Fcontract_web210.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en"><img src="images/css_validate_button.gif" alt=" CSS3 validation button"></a>|
	
				 
		</P>  
	
	</footer>
